<template>
  <h1>My works</h1>

  <works></works>
</template>

<script lang="ts">
import Works from '@/components/Works.vue' // @ is an alias to /src

export default {
  components: {
    Works
  }
}
</script>
