<template>
  <form action="" method="get" class="works-filters" v-if="loaded">
    <fieldset>
      <div class="input-group">
        <div class="field">
          <label for="fieldRoles"></label>
          <select name="" id="fieldRoles" class="form-control" v-model="selectRole">
            <option selected value="-1">
              All Roles
            </option>
            <option v-for="role in roles" :key="role.id" :value="role.id">
              {{role.val}}
            </option>
          </select>
        </div>
        <div class="field">
          <label for="fieldStages"></label>
          <select name="" id="fieldStages" class="form-control" v-model="selectStage">
            <option selected value="-1">
              All Stages
            </option>
            <option v-for="stage in stages" :key="stage.id" :value="stage.id">
              {{stage.val}}
            </option>
          </select>
        </div>
      </div>
    </fieldset>
  </form>
  <ul class="works-tags" >
    <li class="tag" v-for="tag in tags" :key="tag.id">
      <label>
        <input type="checkbox" :value="tag.id" v-model="selectTags">
        <span>{{tag.val}}</span>
      </label>
    </li>
  </ul>
  <ul class="works" v-if="loaded">
    <li v-for="work in works" :key="work.id" class="work" :style="{display: (selectTags in work.tags || selectTags.length === 0) && ((selectRole === '-1' && selectStage === '-1') || (selectStage === '-1' && selectRole === work.role) || (selectRole === '-1' && selectStage === work.stage) || (selectRole === work.role && selectStage === work.stage)) ? 'block' : 'none' }" :data-role="work.role">
      <a v-bind:href="work.link" rel="nofollow" target="_blank">
        <span class="preview">
          <img v-lazy="work.preview_url" :alt="work.title" />
        </span>
        <span class="info" >
          <span class="title">{{ work.title }}</span>
          <span class="company" v-if="work.company_name"> for {{ work.company_name }}</span>
        </span>
      </a>
    </li>
  </ul>
</template>

<script lang="ts">

// import WorksFilters from '@/components/WorksFilters.vue' // @ is an alias to /src
import axios from 'axios' // @ is an alias to /src

export default {
  works: '',
  loaded: false,
  roles: '',
  stages: '',
  tags: '',
  role: null,
  stage: null,
  data () {
    return {
      works: this.works,
      loaded: this.loaded,
      roles: this.roles,
      stages: this.stages,
      tags: this.tags,
      selectRole: '-1',
      selectStage: '-1',
      selectTags: []
    }
  },
  mounted () {
    const PORTFOLIO_API_HOST = 'api.portfolio.webdevelop.live'
    axios.get(`//${PORTFOLIO_API_HOST}/api/works/`)
      .then(response => {
        this.works = response.data.works
        this.loaded = true
      })
      .catch(error => {
        console.warn(error)
      })

    axios.get(`//${PORTFOLIO_API_HOST}/api/works/filters`)
      .then(response => {
        this.roles = response.data.roles
        this.stages = response.data.stages
        this.tags = response.data.tags
      })
      .catch(error => {
        console.warn(error)
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
@import "../assets/Works.styl"
@import "../assets/WorksFilters.styl"
@import "../assets/WorksTags.styl"

</style>
