.works-tags
  display flex
  flex-wrap wrap
  padding-left 0

  .tag
    list-style none
    padding 5px
    box-sizing border-box

    span
      background-color rgba(0, 0, 0, .25)
      border-radius 5px 10px
      box-sizing border-box
      padding 5px 10px
      border 1px solid #fff
      cursor pointer
      user-select none

      &:hover {
        background-color rgba(0, 0, 0, .05)
      }

      &, &:hover
        transition background-color .15s ease

  input[type="checkbox"]
    opacity 0
    position absolute
    pointer-events none

  input[type="checkbox"]:checked
    & + span
      background-color #fff
      color #120c05
