@import "../assets/mixins.styl"

.works
  display flex
  flex-wrap wrap
  padding-left: 0

  .work
    width 50%
    height 300px
    position relative
    margin 0
    overflow hidden

    a
      text-decoration none

      .preview
        img
          position absolute
          left 50%
          top 50%
          transform translate(-50%, -50%)
          max-width none
          height 100%

        &:after
          content ''
          position absolute
          left: 0
          top: 0
          width: 100%
          height: 100%

      .info
        color white
        position relative
        z-index 1
        height: 100%
        display flex
        justify-content center
        align-items center
        flex-direction column
        opacity 0
        background-color rgba(0, 0, 0, .75)

        font_oswald()

        .title
          font-size 24px
          line-height 32px
          position relative
          text-align center

          &:after
            content ''
            border 1px solid #fff
            position absolute
            left: 0
            bottom: 0
            width: 0

        .company
          font-size 20px
          line-height 24px
          position relative
          text-align center
          margin-top: 20px

        .title, .company {
          display block
        }

      &:hover
        .info
          opacity 1

          .title
            &:after
              width: 100%

      &, &:hover
        .info
          transition opacity .15s ease

          .title
            &:after
              transition width .35s ease

    @media screen and (max-width 768px)
      width 100%
