.works-filters
  margin-bottom 30px
  margin-top 50px

  select
    background-color transparent !important
    box-shadow none
    //border none
    color #fff
    border-radius 5px 10px;
    border: 1px solid white;
    margin-right: 10px

    option
      background-color #333

  .field
    width: 262px
    margin-right 10px

    label
      display none
