<template>
<!--  <div id="nav">-->
<!--    <router-link to="/">Home</router-link> |-->
<!--    <router-link to="/about">About</router-link>-->
<!--  </div>-->
  <router-view/>
</template>

<style lang="stylus">
@import "assets/fonts/Montserrat/Bold/stylesheet.css"
@import "assets/fonts/Oswald/regular/stylesheet.css";

html, body {
  background-color #120c05 !important
}
#app
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #fff
  margin-top 60px

  h1
    font-family 'Montserrat', sans-serif
</style>
